ClsEnvioFacil/Service References/LocaSMSSOAP/ServiceSms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SmsMessage" type="tns:rSMS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="rSMS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Subject" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Destinations" type="tns:ArrayOfDestination" />
          <s:element minOccurs="1" maxOccurs="1" name="JobDateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Flash" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="WarningBeginningTransmission" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Preso" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlCallback" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDestination">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Destination" nillable="true" type="tns:Destination" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Destination">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Number" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ref" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Param1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Param2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Param3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Param4" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Param5" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusByRef">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ref" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusByRefResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusByRefResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetHoldSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetHoldSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetHoldSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReleaseSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetReleaseSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetReleaseSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="GetStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusByRefSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusByRef" />
  </wsdl:message>
  <wsdl:message name="GetStatusByRefSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusByRefResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="SetHoldSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SetHoldSMS" />
  </wsdl:message>
  <wsdl:message name="SetHoldSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SetHoldSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SetReleaseSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SetReleaseSMS" />
  </wsdl:message>
  <wsdl:message name="SetReleaseSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SetReleaseSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSMSSoap">
    <wsdl:operation name="SendSMS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para enviar SMS&lt;br /&gt;
                                Parâmetros suportados:&lt;br /&gt;
                                1. User = Usuário api&lt;br /&gt;
                                2. Pwd = Senha api&lt;br /&gt;
                                3. SmsMessage = Objeto mensagem sms&lt;br /&gt;&lt;br /&gt;
                                Retorno: CODIGO DA CAMPANHA GERADO:SUCESSO ou 0:ERRO OCORRIDO DURANTE O PROCESSAMENTO</wsdl:documentation>
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar a campanha&lt;br /&gt;
                            Parâmetros suportados:&lt;br /&gt;
                            1. User = Usuário api&lt;br /&gt;
                            2. Pwd = Senha api&lt;br /&gt;
                            3. Id = Código da campanha gerado pelo serviço SendSMS&lt;br /&gt;&lt;br /&gt;
                            Retorno: DataSet contendo todos os dados da campanha</wsdl:documentation>
      <wsdl:input message="tns:GetStatusSoapIn" />
      <wsdl:output message="tns:GetStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStatusByRef">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar um documento de determinada campanha&lt;br /&gt;
                            Parâmetros suportados:&lt;br /&gt;
                            1. User = Usuário api&lt;br /&gt;
                            2. Pwd = Senha api&lt;br /&gt;
                            3. Id = Código da campanha gerado pelo serviço SendSMS&lt;br /&gt;
                            4. Ref = Código de referencia passado em cada destino dentro da campanha&lt;br /&gt;&lt;br /&gt;
                            Retorno: DataSet contendo todos os dados do destino especificado campanha</wsdl:documentation>
      <wsdl:input message="tns:GetStatusByRefSoapIn" />
      <wsdl:output message="tns:GetStatusByRefSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para consultar o saldo do cliente&lt;br /&gt;
                    Parâmetros suportados:&lt;br /&gt;
                    1. User = Usuário api&lt;br /&gt;
                    2. Pwd = Senha api&lt;br /&gt;&lt;br /&gt;
                    Retorno: SALDO DA CAMPANHA:SUCESSO</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceSoapIn" />
      <wsdl:output message="tns:GetBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetHoldSMS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para prender a campanha&lt;br/ &gt;
                    Paremetros suportados:&lt;br /&gt;
                    1. User = Usuário api&lt;br /&gt;
                    2. Pwd = Senha api&lt;br /&gt;
                    3. Id = Código da campanha gerado pelo serviço SendSMS&lt;br /&gt; 
                    Retorno: 1:SUCESSO OU 0:ERRO OCORRIDO</wsdl:documentation>
      <wsdl:input message="tns:SetHoldSMSSoapIn" />
      <wsdl:output message="tns:SetHoldSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetReleaseSMS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Método para liberar a campanha&lt;br/ &gt;
                    Parâmetros suportados:&lt;br /&gt;
                    1. User = Usuário api&lt;br /&gt;
                    2. Pwd = Senha api&lt;br /&gt;
                    3. Id = Código da campanha gerado pelo serviço SendSMS&lt;br /&gt; 
                    Retorno: 1:SUCESSO OU 0:ERRO OCORRIDO</wsdl:documentation>
      <wsdl:input message="tns:SetReleaseSMSSoapIn" />
      <wsdl:output message="tns:SetReleaseSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSMSSoap" type="tns:ServiceSMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusByRef">
      <soap:operation soapAction="http://tempuri.org/GetStatusByRef" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHoldSMS">
      <soap:operation soapAction="http://tempuri.org/SetHoldSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReleaseSMS">
      <soap:operation soapAction="http://tempuri.org/SetReleaseSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSMSSoap12" type="tns:ServiceSMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap12:operation soapAction="http://tempuri.org/GetStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatusByRef">
      <soap12:operation soapAction="http://tempuri.org/GetStatusByRef" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap12:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetHoldSMS">
      <soap12:operation soapAction="http://tempuri.org/SetHoldSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetReleaseSMS">
      <soap12:operation soapAction="http://tempuri.org/SetReleaseSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceSMS">
    <wsdl:port name="ServiceSMSSoap" binding="tns:ServiceSMSSoap">
      <soap:address location="http://54.173.24.177/painel/ServiceSms.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSMSSoap12" binding="tns:ServiceSMSSoap12">
      <soap12:address location="http://54.173.24.177/painel/ServiceSms.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>